<div class="container">
  <div class="col">
    <h3>{{title}}</h3>
  </div>
  <hr>
  <form class="form-row">
    <div class="form-group col-md-2">
      <label for="nombre" class="sr-only">Nombre</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="nombreInput">
    </div>
    <br>
    <div class="form-group col-md-2">
      <label for="apellido" class="sr-only">Apellido</label>
      <input type="text" name="apellido" id="nombre" placeholder="Apellido" class="form-control" [(ngModel)]="apellidoInput">
    </div>
    
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="agregarPersona()">Submit</button>
    </div>
  </form>
</div>

<app-persona
*ngFor="let personElement of persons; let i = index"
[person]="personElement"
[i]="i" >

</app-persona>

